@charset "utf-8";

/*font.css*/
/*font*/

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/src/assets/fonts/alternative/Pretendard-ExtraLight.ttf');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('/src/assets/fonts/alternative/Pretendard-Light.ttf');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/src/assets/fonts/alternative/Pretendard-Regular.ttf');
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/src/assets/fonts/alternative/Pretendard-Thin.ttf');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('/src/assets/fonts/alternative/Pretendard-ExtraBold.ttf');
}
